*{
    padding: 0;
    margin: 0;
}

body {
    background:url("image/Background.jpg") top center no-repeat fixed rgb(6, 6, 6);
}
.newspaper {
    background-color: white;
    margin: 2.5% 10%;
    padding-bottom: 10px;
    overflow: hidden;
}

.msub-navbar{

    display: flex;
    align-items: center;
    justify-content: space-between;
}

.mlogo{
    margin: 2.5%;
}

.msubmenu ul li{
    list-style: none;
    display: inline-block;
    margin: 20px 20px 0 20px;
    padding: 10px;
    border-radius: 10px;
}

.msubmenu ul li h2{
    font-size: 24px;
}

.msubmenu ul li:hover{
    background-color: black;
    color: white;
    cursor: pointer;
}

.maccount{
    background-color: black;
    color: white;
    width: 90px;
    height: 40px;
    border-radius: 10px;
    margin-right: 20px;
}

.maccount:hover{
    background-color: white;
    color: black;
}

.mnavbar{
    background-color: #090909;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0px 20px;
}

.mnavbar a{
    text-decoration: none;
    color: aliceblue;
    font-size: 30px;
    padding: 10px;
}

.nav-toggle img{
    height: 40px;
    display: none;
}

.mnavbar a:hover {
    background-color: red;
}

.mfooter{
    background-color: black;
    margin: 10px 20px;

}

.sub-footer1 {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-right: 100px;
    flex-wrap: wrap;
}

.footer_item{
    color: white;
    margin: 15px;
    

}

.footer_article {
    width: 300px;
    margin-left: 100px;
}

.footer_item ul li{
    
    list-style-type: none;
    
}

.footer_item ul li a{
    color: white;
    text-decoration: none;
}

.sub-footer2{
    display: flex;
    justify-content: center;
}

.sub-footer2 h4{
    color: white;
    margin:15px 20px;
}

.sub-footer2 button{
    background-color: transparent;
    height: 40px;
    width: 90px;
    color: white;
    border-style: solid;
    border-color: white;
    border-radius: 10px;
    margin-top: 10px;

}

.sub-footer2 button:hover{
    background-color: white;
    color: black;
}

.sub-footer3{
    display: flex;
    justify-content: center;
}

.sub-footer3 a{
    margin: 10px 5px;
}

.sub-footer4 h5{
    text-align: center;
    color: white;
    padding: 10px;
}

hr{
    margin: 0 50px;
    color: white;
}

.bulletin_board{
    margin: 20px;
    border: solid;

}

.bulletin_board h1{
    text-align: center;
    font-size: 3rem;
    font-weight: 400px;
}
